*{margin:0; padding:0;}
a{text-decoration:none;}
li{list-style:none;}
body{font-family:"나눔바른고딕";
	font-size:14px;
	line-height:24px;
	color:#333;}
#wrap{margin:50px auto;
	width:1000px;}
#lnb{float:left;
	width:200px;}
#contents{float:right;
		width:750px;}
h3{border-bottom:1px solid #e6e6e6;
	padding-bottom:20px;}
#lnb ul li a{display:block;
			color:gray;
			font-weight:bold;
			padding:10px 15px;
			border-bottom:1px solid #e6e6e6;}
#lnb ul li a:hover, #lnb ul li.on a{color:#077ad3;
								background:rgba(7,122,211,0.1);}
h1{margin-bottom:20px;}
.box{border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background:#f2f2f2;}
.box1{height:188px;}
.imgbox{float:left;}
.textbox{float:right;
		padding:30px 33px;
		width:450px;
		box-sizing:border-box;}
dt{font-size:18px;}
dd{padding:20px 0;
	font-size:12px;
	line-height:20px;
	color:gray;}
h2{padding:30px 0px 10px;}
.box2{background:#f2f2f2 url(images/futsal_bg.gif) no-repeat 30px center;
	padding:20px 30px 20px 175px;}
p{padding-bottom:30px;}
table{border-top:3px solid #077ad3;
	width:750px;
	border-collapse:collapse;}
th, td{border:1px solid #077ad3;
	padding:3px 0px;}
th{background-color:#f2f2f2;
	color:#077ad3;}
td{text-align:center;}
.bullet{list-style-image:url(images/icon.png);
		list-style-position:inside;}
.box3{padding:20px 30px;}
span{font-weight:bold;}